undefined#main {
  color:black;
  background-color:white;
  font-family:'Arial Black', Gadget, sans-serif;
  font-size:11pt;
}


sidepanes {
  color:white;
  background-color:blue;
  font-family:'Arial Black', Gadget, sans-serif;
  font-size:9pt;
}


