.headerStyles {
  padding: 18;
  font-size: 16;
  height: 56;
  background: #34c3ff;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
}
.iconStyles {
  width: 56;
  height: 56;
  line-height: 56px;
  text-align: center;
}
