body {
  font: caption;
  background:white;  
}






#mainpane {
  margin-left: 240px; /* Same as the width of the sidebar */
  margin-right: 80px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  margin-bottom: 20px;
  background:white;  
}




#statusbar {
  margin-left: 0px;
  margin-right: 0px;
  height: 14px;
  width: 100%;
  background-color: white;
  position:fixed;
  bottom:0px;
  z-index: 2; /* Stay on top */
  border: 1px solid black;
  font-size: 11pt;
  padding: 2px;
}

.textarea {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  display:block;/*reset from inline*/
  width:100%;
  height:200px;
  margin:0;/*remove defaults*/
  padding:4px;
  background:#EEF;
  border:1px solid #333;
}

.stringlist {
  height: 50px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  display:block;/*reset from inline*/
  width:100px;
  height:150px;
  margin:0;/*remove defaults*/
  padding:4px;
  background:#FFF;
  border:1px solid #333;
}

.fieldName {
  font-style: italic;
  font-size: 11px;
}

.fieldTitle {
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

.unselectedList {
  color:grey;
}

.tabButton {
  color: blue;
  border: black solid 1px;
  cursor: pointer;
  background:#bbb;
  border-radius: 5px 5px 0 0;
  padding: 2px;
  font-style: italic;
}

.tabButton[disabled] {
  color: black;
  background:white;
  border-bottom: none;
  padding: 2px;
}

.tabContent {
  border: black solid 1px;
  background:white;
  margin-bottom:10 px;
  border-radius: 0 0 5px 5px;
  padding: 3px;
}







/* Remove default bullets */
ul.sidepane {
  list-style-type: none;
  padding-left: 20px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer; 
  user-select: none; /* Prevent text selection */
}

.deleteLink {
  cursor: pointer; 
  color:grey;
  font-size:10px;  
}

.stdLink {
  cursor: pointer; 
  color:blue;
}


.newButtonDiv {
   text-align: center;
}







#sidepane {
  height: calc(100% - 24px); /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #fdf;
  background-image:url("images/back.png");
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 9pt;
  left: 0;
  user-select: none; /* Prevent text selection */
}


.tree {
  color:blue;
  cursor: pointer; 
  font-size:11px;
  padding-left: 5px;
  padding-right: 5px;
}

.treeSettings {
  color: green;
}

.treeItem {
}

.treeRoom {
  border: #888 solid 1px;
}

.treeZone {
  border: white solid 1px;
}

.treeStub {
  border: #888 dotted 1px;
}

.treeSelected {
  background-color: yellow;
}  
