@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  height: 100%;
  animation: fadein 0.5s;
}


html {
  height:100%;
}

body {
  font: caption;
  background:white;
  color:black;
  height:100%;
}



div#App, div#main {
  height:100%;
  display: flex;
  flex-flow: column;
}

div.dark {
  background:#222;
  color:#eee;
}





/*
#mainpane {
  margin-left: 240px; /* Same as the width of the sidebar */
/*  margin-right: 80px; /* Same as the width of the sidebar */
/*  padding: 0px 10px;
  margin-bottom: 20px;
  margin-top: 48px;
}
*/


#toolbar {
  height: 100%;
  width: 100%;
  background-color: #ccc;
/*  position:fixed;*/
  top:0px;
  left:0px;
/*  z-index: 2; /* Stay on top */
  font-size: 11pt;
/*  padding: 2px;*/
}


div.dark #toolbar {
  background:#111;
}

#statusbar {
  padding-left: 2px;
/*  margin-right: 0px;*/
  height: 100%;
  width: 100%;
  background-color: #ffe;
/*  position:fixed;*/
  bottom:0px;
  left:0px;
/*  z-index: 2; /* Stay on top */
/*  border: 1px solid black;*/
  font-size: 11pt;
/*  padding: 2px;*/
}



div.dark #statusbar {
  background:#111;
  color:white;
}



.textarea {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  display:block;/*reset from inline*/
  width:100%;
  height:200px;
  margin:0;/*remove defaults*/
  background:#EEF;
  border:1px solid #333;
  border-radius: 5px;
}



input, textarea, select {
  border:1px solid #333;
  border-radius: 5px;
  background:white;
  padding:4px;
}



input[type=checkbox] {
  display: none;
}



.stringlist {
  height: 50px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  display:block;/*reset from inline*/
  width:100px;
  height:150px;
  margin:0;/*remove defaults*/
  padding:4px;
  background:#FFF;
  background-image:url('images/stringlist-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  border:1px solid #333;
}

.fieldName {
  font-style: italic;
  font-size: 11px;
}

.fieldTitle {
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

.unselectedList {
  color:grey;
}






.tabButton {
  color: blue;
  border: black solid 1px;
  cursor: pointer;
  background:#bbb;
  border-radius: 5px 5px 0 0;
  padding: 2px;
  font-style: italic;
}

.tabButton[disabled] {
  color: black;
  background:#eee;
  border-bottom: none;
  padding: 2px;
}

.tabContent {
  border: black solid 1px;
  background:#eee;
  margin-bottom:10px;
  border-radius: 0 0 5px 5px;
  padding: 3px;
}

div.dark .tabButton {
  border: white solid 1px;
  background:#333;
  color:lightblue;
}

div.dark .tabButton[disabled] {
  border: white solid 1px;
  background:#444;
  color:#eee;
  border-bottom: none;
}

div.dark .tabContent {
  border: white solid 1px;
  background:#333;
  color:#eee;
}






/* Remove default bullets */
ul.sidepane {
  list-style-type: none;
  padding-left: 20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.deleteLink {
  cursor: pointer;
  color:grey;
  font-size:10px;
}

.stdLink {
  cursor: pointer;
  color:blue;
}


.newButtonDiv {
   text-align: center;
}







#sidepane {
  height: 100%;
  width: 100%;
/*  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
/*  z-index: 1; /* Stay on top */
/*  top: 0; /* Stay at the top */
  background-color: #eef;
/*  overflow-x: hidden; /* Disable horizontal scroll */
/*  padding-top: 5px;
  margin-bottom: 20px;
  margin-top: 48px;
  font-size: 9pt;
  left: 0;
  user-select: none; /* Prevent text selection */
}


div.dark #sidepane {
  background:#444;
}




.tree {
  color:blue;
  cursor: pointer;
  font-size:11px;
  padding-left: 5px;
  padding-right: 5px;
}

.treeSettings {
  color: green;
}

.treeItem {
}

.treeRoom {
  border: #888 solid 1px;
}

.treeZone {
  border: white solid 1px;
}

.treeStub {
  border: #888 dotted 1px;
}

.treeSelected {
  background-color: yellow;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: auto;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
